@use "./colors" as *;

.mi-componente {
  width: 100%;
  height: 100vh;
  padding: 1rem;

  &.dark {
    background: $bg-dark;
    color: $text-light;
  }

  &.light {
    background: $bg-light;
    color: $text-dark;
  }

  .title {
    padding: 1rem 2rem;

    &.dark {
      border: 1px solid blue;
    }

    &.light {
      border: 1px solid yellow;
    }
  }

  .btn {
    padding: 1rem 2rem;
    border-radius: 50rem;
    font-weight: 900;
    outline: none;
    border: none;
    margin: 1rem;

    &.dark {
      background: blue;
      color: $text-light;
    }

    &.light {
      background: rgb(2, 2, 35);
      color: #fff;
    }
  }
}
